#
# Copyright (C) 2013 Glyptodon LLC
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#

parent  "base"
name    "de-ch-qwertz"
freerdp "KBD_SWISS_GERMAN"

#
# Basic keys
#

map -altgr -shift 0x29 0x02..0x0D      ~ "§1234567890'^"
map -altgr -shift      0x10..0x1B      ~ "qwertzuiopü¨"
map -altgr -shift      0x1E..0x28 0x2B ~ "asdfghjklöä$"
map -altgr -shift 0x56 0x2C..0x35      ~ "<yxcvbnm,.-"

map -altgr +shift 0x29 0x02..0x0D      ~ "°+"*ç%&/()=?`"
map -altgr +shift      0x10..0x1B      ~ "QWERTZUIOPè!"
map -altgr +shift      0x1E..0x28 0x2B ~ "ASDFGHJKLéà£"
map -altgr +shift 0x56 0x2C..0x35      ~ ">YXCVBNM;:_"

#
# Keys requiring AltGr
#

map +altgr -shift 0x02 ~ "|"
map +altgr -shift 0x03 ~ "@"
map +altgr -shift 0x04 ~ "#"
map +altgr -shift 0x05 ~ "¼"
map +altgr -shift 0x06 ~ "½"
map +altgr -shift 0x07 ~ "¬"
map +altgr -shift 0x08 ~ "¦"
map +altgr -shift 0x09 ~ "¢"
map +altgr -shift 0x0C ~ "´"
map +altgr -shift 0x0D ~ "~"

map +altgr -shift 0x12 ~ "€"
map +altgr -shift 0x1A ~ "["
map +altgr -shift 0x1B ~ "]"

map +altgr -shift 0x28 ~ "{"
map +altgr -shift 0x2B ~ "}"

map +altgr -shift 0x56 ~ "\"
map +altgr -shift 0x32 ~ "µ"

#
# Dead keys
#

map -altgr +shift 0x0D ~ 0xFE50 # Dead grave

